@import url('https//fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 5px solid #333;
    border-radius: 10px;
    transition: 500ms;
}

.wrapper:hover{
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

.login-h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
    transition: 500ms;
}

.wrapper:hover .login-h2{
    color: #0ef;
}

.input-box{
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box-input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
    transition: 500ms;
}

.wrapper:hover .input-box-input{
    border: 2px solid #0ef;
    box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;
}

.input-box-input::placeholder{ color: rgba(255, 255, 255, 0.3); }

.icon{
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 55px;
    transition: 500ms;
}

.wrapper:hover .icon{ color: #0ef; }

.forgot-pass{ margin: -15px 0 15px; }

.forgot-pass-link{
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
}

.forgot-pass-link:hover{ text-decoration: underline; color: rgb(255, 38, 0); }

.login-btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: 500ms;
}

.wrapper:hover .login-btn{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.register-link{
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0;
    transition: 500ms;
}

.wrapper:hover .register-link{ color: #0ef; }

.register-link p{ color: #fff; }

.reg-link{
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.reg-link:hover{ text-decoration: underline; color: yellow; }